<h1>A new BrainFx 360 Assessment was submitted.</h1>

<table border="1" cellpadding="8">
  <tr>
    <td>CBA ID</td>
    <td>{{ cbaId }}</td>
  </tr>
  <tr>
    <td>CBA Email</td>
    <td>{{ cbaEmail }}</td>
  </tr>
  <tr>
    <td>Assessment Key</td>
    <td>{{ assessmentKey }}</td>
  </tr>
  <tr>
    <td>Client ID</td>
    <td>{{ clientId }}</td>
  </tr>
  <tr>
    <td>Start Date</td>
    <td>{{ dateStart }}</td>
  </tr>
  <tr>
    <td>End Date</td>
    <td>{{ dateEnd }}</td>
  </tr>
  <tr>
    <td>File Path</td>
    <td>{{ filePath }}</td>
  </tr>
  <tr>
    <td>File Save Status</td>
    <td>{{ fileSaveStatus }}</td>
  </tr>
</table>
